
.all_books{
    /* border:1px solid  rgb(102,102,102); */
    width: 700px;
    max-height: 600px;
    overflow: hidden;
}
.all_books *{
    box-sizing:border-box;
}
.book{
    box-sizing:border-box;
    width: 700px;
    height: 95px;
    border:1px solid  rgb(102,102,102);
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 7px;
}
.book .poster{
    float: left;
    height: 90px;
    width: 90px;
    padding: 5px;
}
.book .poster img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.book .about{
    height: 65px;
    width: 575px;
    float: left;
    overflow: hidden;
}
.book .number{
    height: 94px;
    width: 30px;
    float: left;
    font-size: 20px;
    padding-top: 30px;
    border-right:1px solid rgb(102,102,102);
    text-align: center;
}
.book .about table{
    text-align: left;
    float: left;
}
.book .about table tr{
    margin-bottom: 20px;
}
.book .about table th{
    font-size: 16px;
    font-weight: bold;
    color:#fff;
}
.book .about table td{
    padding: 0 25px 0 5px;
    font-size: 14px;
    font-weight: normal;
    color:#fff;
}

.book .buttons{
    width: 575px;
    height: 30px;
    float: left;
    padding-top: 1px;
}
.book .buttons .button {
    border-width: 0px;
    border-radius: 7px;
    color: #FFF;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 3px;
    text-transform: uppercase;
    float: right;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 5px 5px 3px;
    width: 90px;
    height: 21px;
}


.inputB{
    display: block;
    float: left;
    border-radius: 5px;
    width: 293px;
    height: 20px;
    background-color: #fffeee;
    font-size: 14px;
    padding: 5px 10px;

}
.bookAddForm{
    /* width: 465px; */
    width: 678px;
    padding: 10px;
    border:1px solid  rgb(102,102,102);
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.15);
    margin: 0 auto;
}
.bookAddForm .row{
    margin:0 auto 10px auto;
    width: 460px;

    border:1px solid  rgb(102,102,102);
    border-radius: 7px;
    padding: 7px;
}
.bookAddForm label{
    display: block;
    float: left;
    width: 130px;
    margin-top: 5px;
    color:white;
    font-size: 16px;
    font-weight: bolder;
}
.bookAddForm p{
    color:white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
.bookAddSelect{
    display: block;
    float: left;
    border-radius: 5px;
    width: 316px;
    height: 32px;
    background-color: #FFFEEE;
    font-size: 14px;
}

.button-style{
    margin-right: 100px;
}